@charset "utf-8";
/* CSS Document */

@import url(http://weloveiconfonts.com/api/?family=fontawesome);

/* ---------- FONTAWESOME ---------- */

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
 font-size: 14px;
  /*display: block;
  line-height: 18px;*/
}

/*span{
	display: block;
	height: 10px;
}*/

.visib{
		visibility: visible;
}

/*================================= LOGOTIP ==================================*/

.logo{
	background: linear-gradient(to right, #060e71, #abaef2);
	position: relative;
	width: 100%;
	height: 100px;
}
.log1{
	position: absolute;
	padding-left: 20px;
	left: 0;
	width: 300px;
}
.log2{
	position: absolute;
	padding-right: 20px;
	right: 0;
	width: 250px;
	font-size: 16pt;
	font-style: italic;
	color: aliceblue;
}
.span{
	font-weight: bold;
	font-size: 60pt;
	color: aliceblue;
}

/*==================================== END LOGOTIP =====================================*/
/*==================================== ГЛАВНОЕ МЕНЮ =====================================*/

.menu{
	position: relative;
	width: 100%;
	height: 50px;
	background: rgb(63, 81, 63);
}
nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.topmenu>li{  
	position: relative;
	display: inline-table;  
	width: 7em;
	height: 50px;
	vertical-align: middle;
	text-align: center; 
	color: aliceblue;   
	
}
.topmenu li:hover {    
	background: rgb(3, 103, 3);    
}
li>span{
	display: table-cell;
	vertical-align: middle;
}

li a{
	color: aliceblue;
	text-decoration: none; 
}

li.login,.exit{
	float: right;
}

.submenu{
	background: rgb(5, 134, 5);
	position: absolute;
	visibility: hidden;
	opacity: 0;
	margin: 0;
	top: 100%;
	width: 150%;
	z-index: 11;
}
.topmenu li:hover>.submenu{
	visibility: visible;
	opacity: 1;
	transition: opacity 1s ease-out 0s;
}
#main, #other{
	width: 50px;
	line-height: 50px;
}
#new_item{
	/*visibility: hidden;*/
	display: none;
	width: 50px;
	line-height: 50px;
}
.fixed{
	position: fixed;
	top:0;
	z-index: 10;
}
/*======================================== КОНЕЦ ГЛАВНОГО МЕНЮ =============================*/

/*======================================== КОНТЕНТ ==========================================*/
.conteiner{
	position: relative;
	margin-left: 200px;
	margin-top: 0;
	background: #f3e7e7;
	padding-top: 20px;
	padding:5px;
}

/*======================================== END CONTENT ======================================*/


/*======================================== БОКОВОЕ МЕНЮ =====================================*/

.left_menu{
	position: fixed;
	top: 150px;
	bottom: 0;
	width: 200px;
	background: #5c817b;
	overflow: auto;
	z-index: 1;	
}

.leftmenu{
	list-style-type: none;
	width: 100%;
	padding-left: 0;
}

.leftmenu li{
	display: block;
	background: #645F5F;
	padding-left: 40px;
	height: 35px;
	vertical-align: middle;
	color: aliceblue;
}

.leftmenu li:hover{
	cursor: pointer;
	padding-left: 60px;
}

.leftmenu li.active{
	padding-left: 60px;
}

.fixedleft{
	position: fixed;
	top:50px;
}

/*======================================= КОНЕЦ БОКОВОГО МЕНЮ =================================*/

@media screen and (max-width: 900px) {
	.conteiner{
		margin-left: 0px;
	}
	.visib{
		visibility: hidden;
	}
	#new_item{
		/*visibility: visible;*/
		display: inline-block;
	}

}


/*================================================================*/



body{
    background-color: #50654e;
	color: #394048;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 14px;
	margin: 0;
	padding: 0;
	/*line-height: 1.5em;*/
}

label {
    width: 150px;
    height: 20px;
    display: block;
    float: left;
    margin-left: 0; 
}
input[type="text"], input[type="number"], select {
    display: block;
    height: 20px;
    width: 220px;
}
input[type="button"]{

}
input[type="text"]:after, input[type="number"]:after, select:after {
	content: "";
	display: block;
	height: 0;
	clear: left;
}

form {
    position: fixed;
    width: 380px;
    top: 50%;
    left: 50%;
    margin-left: -250px;
    margin-top: -150px;  
    background: green;
    padding: 7px;
    z-index: 100;
    /*text-align: center;*/
}
.invisible{
    display: none;
}

.fon{
	position: fixed;
	width: 100%;
	height: 100%;		
	opacity: 0.3;
	z-index: 13;
	background: green;

}

.fonnone{
	display: none;
}
.forms {
	z-index: 101;
}




table {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 14px;
  background: white;
  max-width: 100%;
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}
th {
  font-weight: normal;
  color: #039;
  border-bottom: 2px solid #6678b1;
  padding: 10px 5px;
}
td {
	border-bottom: 1px solid #ccc;
  color: #45455e;
  padding: 5px 5px;
  transition: .3s linear;
}
tr:hover td{
  color: #CED3DC;
  background: #696363;
}