body{
    background-color: #50654e;
	color: #394048;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5em;
}
.head{
    margin: 20px;
    text-align: center;
    float: left;
}
.log{
    
}
span{
    font-size: 5em;
}