@import url(http://weloveiconfonts.com/api/?family=fontawesome);

/* ---------- FONTAWESOME ---------- */

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
 font-size: 14px;
}
.visib{
		visibility: visible;
}
.logo{
	background: linear-gradient(to right, #060e71, #abaef2);
	position: relative;
	width: 100%;
	height: 100px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
}
.log1{
	position: absolute;
	padding-left: 20px;
	left: 0;
	width: 300px;
}
.log2{
	position: absolute;
	padding-right: 20px;
	right: 0;
	width: 250px;
	font-size: 16pt;
	font-style: italic;
	color: aliceblue;
}
.span{
	font-weight: bold;
	font-size: 60pt;
	color: aliceblue;
}
.conteiner{
	position: relative;
	margin-left: 200px;
	margin-top: 0;
	height: 2100px;
	background: #f3e7e7;
	padding-top: 20px;
}
.left_menu{
	position: fixed;
	top: 150px;
	bottom: 0;
	width: 200px;
	background: #5c817b;
	overflow: auto;
}
body{
	margin: 0;
}
.menu{
	position: relative;
	width: 100%;
	background: rgb(63, 81, 63);
	padding: 0;
	margin: 0;
}
nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.topmenu>li{  
	position: relative;
	display: inline-block;  
	width: 7em; 
	line-height: 46px;
	text-align: center; 
	padding-bottom: 4px;
	color: aliceblue;     
}
.topmenu li:hover {    
	background: rgb(3, 103, 3);    
}
.submenu{
	background: rgb(5, 134, 5);
	position: absolute;
	visibility: hidden;
	opacity: 0;
	margin: 0;
	top: 100%;
	width: 150%;
	z-index: 11;
}
.topmenu li:hover>.submenu{
	visibility: visible;
	opacity: 1;
	transition: opacity 1s ease-out 0s;
}
#main{
	width: 50px;
}
#new_item{
	/*visibility: hidden;*/
	display: none;
	width: 50px;
}
.fixed{
	position: fixed;
	top:0;
	z-index: 10;
}
.fixedleft{
	position: fixed;
	top:50px;
}

@media screen and (max-width: 900px) {
	.conteiner{
		margin-left: 0px;
	}
	.visib{
		visibility: hidden;
	}
	#new_item{
		/*visibility: visible;*/
		display: inline-block;
	}
}

