@import url(http://weloveiconfonts.com/api/?family=fontawesome);

/* ---------- FONTAWESOME ---------- */

body{
	font-family: Geneva, Arial, Helvetica, sans-serif;
	margin: 0;
}
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
 font-size: 14px;
}
.visib{
		visibility: visible;
}


/*================================= LOGOTIP ==================================*/

.logo{
	background: linear-gradient(to right, #060e71, #abaef2);
	position: relative;
	width: 100%;
	height: 250px;
}
.logos{
	position: absolute;
	top: 10px;
	left: 10px;
	width: 200px;
	height: 150px;
}
.log1{
	font-style: oblique;
	font-weight: 300;
	position: absolute;
	left: 200px;
	bottom: -20px;
}
.log2{
	position: absolute;
	top: 30px;
	left: 230px;
}
.log3{
	position: absolute;
	padding-right: 20px;
	right: 0;
	width: 250px;
	font-size: 16pt;
	color: aliceblue;
}
.span{
	font-style: oblique;
	font-weight: 100;
	font-size: 60pt;
	color: aliceblue;
}
h1{
	font-size: 50pt;
	font-style: italic;
	color: aliceblue;
}

/*==================================== END LOGOTIP =====================================*/

/*==================================== ГЛАВНОЕ МЕНЮ =====================================*/

.menu{
	position: absolute;
	bottom: 20px;
	right: 20px;
	/*	background: rgb(154, 172, 154);*/
	font-size: 16px;
	font-weight: bold;
	font-style: italic;
}
nav>li{  
	position: relative;
	display: inline-table;  	
	color: aliceblue;   
	
}
nav>li:hover {    
	color: rgb(130, 137, 130);    
}
li>span{
	padding-left: 10px;
	padding-right: 10px;
	display: table-cell;
}
#new_item{
	/*visibility: hidden;*/
	display: none;
	width: 50px;
	line-height: 50px;
}
li>a{
	padding-left: 10px;
	padding-right: 10px;
	text-decoration: none;
	color: aliceblue;
}
/*======================================== КОНЕЦ ГЛАВНОГО МЕНЮ =============================*/

/*======================================== КОНТЕНТ ==========================================*/
.conteiner{
	position: relative;
	margin-left: 0px;
	margin-top: 0;
	background: #f3e7e7;
/*	scroll-behavior: smooth;*/
	
}
img{
	display: block;
	width: 100%;	
	height: 100%;
}
.conteiner>div{
	position: relative;
	height: 100%;
}
.head_h2{
	font-weight: 100;
	font-size: 30pt;
	font-style: oblique;
	position: absolute;
	top: 20px;
	left: 20px;
	color: aquamarine;
}
.invisible{
	display: none;
}

/*======================================== END CONTENT ======================================*/


@media screen and (max-width: 900px) {
	
	.visib{
		visibility: hidden;
	}
	#new_item{
		/*visibility: visible;*/
		display: inline-block;
	}
}

